<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário HTML</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% block content %}
     <div class="texto-topo">
         <h1>Enviar mensagem</h1>
     </div>

    <hr/>
    <form method="post">
        {% csrf_token %}

        <div>
            <label for="nome">Nome:</label>
            {{ form.nome }}
        </div>
        <div>
            <label for="email">E-mail:</label>
            {{ form.email }}
        </div>
        <div>
            <label for="msg">Mensagem:</label>
            {{ form.msg }}
        </div>
        <div>
            <button type="submit">Enviar sua mensagem</button>
        </div>
    </form>
{% endblock %}
</body>
</html>